<html>

<body>
<div>
    <form method="post">
        <input type="firstName" name="firstName" placeholder="Имя" />
        <input type="firstName" name="lastName" placeholder="Фамилия">
        <button type="submit">Регистрация</button>
    </form>
</div>
<div>Список пользователей</div>
{{#clients}}
    <div>
        <b>{{id}}</b>
        <span>{{firstName}}</span>
        <i>{{lastName}}</i>
    </div>
{{/clients}}
</body>
</html>